<div class="pageCredits">
    @page "/Credits"

    <h1 class="name">CREDITS</h1> 

    <div class="interface">
        <div class="texte">
            <p>- Original game -> <a href="https://tetris.com/play-tetris">Tetris</a></p>
            <p>- Project made by students at "Ynov Campus" in second year of computing studies</p>
            <p>- Technologies used : C#, BlazorApp and .Net</p>
            <p1>Made by Tao BOURMAUD, Louis TEILLIAIS, Luke JONES</p1>
        </div>
    </div>
    <button type="button" class="button"><a href="">Retour au menu</a></button>
</div>
