<div class="pageCredits">
    @page "/Credits"

    <h1 class="name">CREDITS</h1> 
    <button type="button" class="button"><a href="">Retour au menu</a></button>

    <div class="interface">
        
    </div>
</div>
