.pageCredits{
    position: flex;
    background-color: black;
    height: auto;
}

.interface {
    position: flex;
    background-color: #5A2328;
    height: auto;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 23px;
}

.button{
    position: flex;
    font-size: 150%;
    border-radius: 30px;
    background-color: #00B691;
    margin-left: 2%; 
    padding: 8px 15px;
    text-decoration: none;
    margin-bottom: 1%;
}

.name {
    position: flex;
    font-size: 350%;
    color: #00B691;
    padding: 1%;
}

.texte{
    font-size: 225%;
    text-align: center;
}

p{
    -webkit-text-stroke: 2px black;
}

p1{
    color: #00B691;
}