@using System.Timers;
@namespace BlazorApp.Data

<div class="page">
    @page "/game"
    <h1 class="name">TETRIS</h1> 
    <button type="button" class="button"><a href="">Retour au menu</a></button>

    <button type="button" class="btnTurn">Turn</button>
    <button type="button" class="btnLeft">Left</button>
    <button class="btnRight" @onclick= "() => Grid.MovementRight(Grid.actualBlock)">Right </button>
    <button type="button"  class="btnPause">Pause</button>
    <button type="button" class="btnSpeed">Speed</button>

    <div class="ScoreBoard">
        Score .... points
    </div>

    <div class="interface">

        JEU TETRIS

        <div id="grille">
            @{
                var grid = Grid.CreateGrid(10,20);
                Grid.PlaceBlock(grid, BlocksShape.DisplayRandom(BlocksShape.shapesArray), 0, 1);
                @* Grid.MovementRight(); *@
            }
            @for(int y = 0; y < grid.Count; y++){
                @for(int i = 0; i < grid.ElementAt(y).Count; i++)
                {
                    @if(Grid.WhichBlock(grid, y, i) == 0){
                        <div id="cell" class="cellEmpty"></div>
                    }
                    @if(Grid.WhichBlock(grid, y, i) == 1){
                        <div id="cell" class="cellSquare"></div>
                    }
                    @if(Grid.WhichBlock(grid, y, i) == 2){
                        <div id="cell" class="cellLine"></div>
                    }
                    @if(Grid.WhichBlock(grid, y, i) == 3){
                        <div id="cell" class="cellLBlock"></div>
                    }
                    @if(Grid.WhichBlock(grid, y, i) == 4){
                        <div id="cell" class="cellJBlock"></div>
                    }
                    @if(Grid.WhichBlock(grid, y, i) == 5){
                        <div id="cell" class="cellSBlock"></div>
                    }
                    @if(Grid.WhichBlock(grid, y, i) == 6){
                        <div id="cell" class="cellTBlock"></div>
                    }
                    @if(Grid.WhichBlock(grid, y, i) == 7){
                        <div id="cell" class="cellZBlock"></div>
                    }
                }
            }                        

        </div>

    </div>
</div>

