@using System.Timers;
@namespace BlazorApp
@page "/game"

@code{
    Data.Grid grille = new Data.Grid(10, 20);
    async void Turn(){
        for(int i = 0; i < grille.height - grille.currentBlock.GetLength(0); i++){
            grille.BlockDown();
            StateHasChanged();
            await Task.Delay(1000);
        }
    }

    @* private void GameLoop(){
        for(int i = 0; i < 2; i++){
            Turn();
            grille.currentBlock = Data.BlocksShape.DisplayRandom(Data.BlocksShape.shapesArray);
            grille.currentBlockLine = 0;            
        }

    } *@
    protected override void OnInitialized(){
        //GameLoop();
        Turn();
    }
}

<div class="page">
    <h1 class="name">TETRIS</h1> 
    <button type="button" class="button"><a href="">Retour au menu</a></button>

    <button type="button" class="btnTurn">Turn</button>
    <button class="btnLeft" @onclick= "() => {grille.MovementLeft(grille.currentBlock);}">Left</button>
    <button class="btnRight" @onclick= "() => {grille.MovementRight(grille.currentBlock);}">Right</button>
    <button type="button"  class="btnPause">Pause</button>

    <div class="ScoreBoard">
        Score .... points
    </div>

    <div class="interface">

        JEU TETRIS

        <div id="grille">
            @for(int y = 0; y < grille.data.Count; y++){
                @for(int i = 0; i < grille.data.ElementAt(y).Count; i++)
                {
                    @if(grille.WhichBlock(y, i) == 0){
                        <div id="cell" class="cellEmpty"></div>
                    }
                    @if(grille.WhichBlock(y, i) == 1){
                        <div id="cell" class="cellSquare"></div>
                    }
                    @if(grille.WhichBlock(y, i) == 2){
                        <div id="cell" class="cellLine"></div>
                    }
                    @if(grille.WhichBlock(y, i) == 3){
                        <div id="cell" class="cellLBlock"></div>
                    }
                    @if(grille.WhichBlock(y, i) == 4){
                        <div id="cell" class="cellJBlock"></div>
                    }
                    @if(grille.WhichBlock(y, i) == 5){
                        <div id="cell" class="cellSBlock"></div>
                    }
                    @if(grille.WhichBlock(y, i) == 6){
                        <div id="cell" class="cellTBlock"></div>
                    }
                    @if(grille.WhichBlock(y, i) == 7){
                        <div id="cell" class="cellZBlock"></div>
                    }
                }
            }                        

        </div>

    </div>
</div>

