@using System.Timers;
@namespace BlazorApp.Data

@{
    var line = 0;
    var column = 3;
    var grille = new Grid();
}

<div class="page">
    @page "/game"
    <h1 class="name">TETRIS</h1> 
    <button type="button" class="button"><a href="">Retour au menu</a></button>

    <button type="button" class="btnTurn">Turn</button>
    <button type="button" class="btnLeft">Left</button>
    <button @onclick="() =>grille.MouvementRight(column)" class="btnRight">Right</button>
    <button type="button" class="btnPause">Pause</button>
    <button type="button" class="btnSpeed">Speed</button>

    <div class="ScoreBoard">
        Score .... points
    </div>

    <div class="interface">

        JEU TETRIS

        <div id="grille">
            @{
                var grid = grille.CreateGrid(10,20);
                Timer timer = new Timer(1000);
                timer.Start();               
                grille.PlaceBlock(grid, BlocksShape.DisplayRandom(BlocksShape.shapesArray), line, column);
            }
            @for(int y = 0; y < grid.Count; y++){
                @for(int i = 0; i < grid.ElementAt(y).Count; i++)
                {
                    @if(grille.WhichBlock(grid, y, i) == 0){
                        <div id="cell" class="cellEmpty"></div>
                    }
                    @if(grille.WhichBlock(grid, y, i) == 1){
                        <div id="cell" class="cellSquare"></div>
                    }
                    @if(grille.WhichBlock(grid, y, i) == 2){
                        <div id="cell" class="cellLine"></div>
                    }
                    @if(grille.WhichBlock(grid, y, i) == 3){
                        <div id="cell" class="cellLBlock"></div>
                    }
                    @if(grille.WhichBlock(grid, y, i) == 4){
                        <div id="cell" class="cellJBlock"></div>
                    }
                    @if(grille.WhichBlock(grid, y, i) == 5){
                        <div id="cell" class="cellSBlock"></div>
                    }
                    @if(grille.WhichBlock(grid, y, i) == 6){
                        <div id="cell" class="cellTBlock"></div>
                    }
                    @if(grille.WhichBlock(grid, y, i) == 7){
                        <div id="cell" class="cellZBlock"></div>
                    }
                }
            }                        

        </div>

    </div>
</div>

