<div class="page">
    @page "/Menu"

    <div class="interface">

        <h3 class="name">TETRIS</h3>

        <button type="button" class="button">Play</button>
        <button type="button" class="button">Options</button>
        <button  type="button" class="button">Credits</button>
        
    </div>
</div>


@code{
    void OnClick() {
    }
}
