<div class="page">
    @page "/"

    <div class="interface">

        <h3 class="name">TETRISTE</h3>

        <button type="button" class="button"><a href="/Game">Play</a></button>
        <button type="button" class="button"><a href="/Options">Options</a></button>
        <button  type="button" class="button"><a href="/Credits">Credits</a></button>
        
    </div>
</div>


@code{
    void OnClick() {
    }
}
