<div class="pageOptions">
    @page "/Options"

    <h1 class="name">OPTIONS</h1> 

    <div class="interface">
        Speed : 
        <div class=speed>
            <input type="checkbox" id="checkbox" name="Slow"/>
            <label for="Slow">Slow</label>
            <input type="checkbox" id="checkbox" name="Normal"/>
            <label for="Normal">Normal</label>
            <input type="checkbox" id="checkbox" name="Fast"/>
            <label for="Fast">Fast</label>
        </div>
        <div class=size>
            Size<input type="checkbox"/>
        </div>
    </div>

    <button type="button" class="button"><a href="">Retour au menu</a></button>
</div>