<div class="pageOptions">
    @page "/Options"

    <h1 class="name">OPTIONS</h1> 
    <button type="button" class="button"><a href="">Retour au menu</a></button>

    <div class="interface">
        
    </div>
</div>