@page "/test"
@namespace BlazorApp

<h1> Page Test</h1>
<p role="status">Current blocks: </p>

 @* <p>
    <label><input type="checkbox" @bind-value ="block.Active"/>
        Active
    </label>
    <br/>
    Active: @block.Active
</p> *@
@* 
<div class="interface">
        <div id="grille">
            @for(int y = 0; y < 10; y++){
                @foreach (var i in Grid.CreateGrid(20, 20))
                {
                    <div id="cell"></div>
                }
            }
        </div>
</div> *@

@code {

    @* protected override void OnInitialized()
    {
        base.OnInitialized();

    } *@
    
}