@page "/test"
BlazorApp

<h1> Page Test</h1>
@* <p role="status">Current blocks: </p>

<p>
    BlockWidth = @GameGrid.width
</p>


<p>
    <input type="number" @bind-value="GameGrid.width" @bind-value:event="oninput"/> 
    @* bind-value will change the value of the length and bind-value:event will change it willst we are typing
</p>

 <p>
    <label><input type="checkbox" @bind-value ="block.Active"/>
        Active
    </label>
    <br/>
    Active: @block.Active
</p> *@

@* <div class="card" style="width:22rem">
    <div class="card-body">
        <button @onclick="OnYes">Blocks</button>
    </div>
</div> *@

<div class="interface">
    <p>
        @for(int j = 0; j < 10; j++){
            @foreach (var Cell in GameGrid.CreateGrid(20, 20))
            {   
                @GameGrid.width
                
            }
        }
    </p>
</div>

@code {

    Grid GameGrid = null;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        GameGrid = new Grid()
        {
           width = 20,
           height = 10,
        };
    }


    int[,] array = new int[4, 4]{{0,0,1,0}, {0,0,1,0}, {0,0,1,0}, {0,0,1,0}};
    private void OnYes()
    {
        for (int i = 0; i < array.GetLength(0); i++){
                        for ( int j = 0; j < array.GetLength(1); j++){
                                Console.Write("{0}", array[i, j]);
                        }
                        Console.WriteLine();
                    }
    }

    
}